{% extends "base.html" %}
{% load static %}

{% block title %} Posts {% endblock title %} 

{% block content %}
    {% for post in posts %}
        <div class="ui segment">
        <h1>{{post.title}}</h1>
        <p>{{post.body}}</p>

        <form action="{% url 'posts:like-unlike-post' %}" class="ui form" method="POST">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{post.id}}">
            {% if user not in post.liked.all %}
                <button type="submit" class="ui blue button">Like</button>
            {% else %}
                <button type="submit" class="ui red button">Unlike</button>
            {% endif %}
        </form>
        <strong>{{post.liked.all.count}} likes</strong>
    </div>
    {% endfor %}
{% endblock content %}